# configure channel
agent1.channels.memory-channel.type=memory

# configure source
agent1.sources.tail-source.type     = exec
agent1.sources.tail-source.command  = tail -F /usr/local/hadoop/logs/hadoop-student-namenode-student-VirtualBox.log
agent1.sources.tail-source.channels = memory-channel
 
# describe hdfs sink
agent1.sinks.hdfs-sink.channel       = memory-channel
agent1.sinks.hdfs-sink.type          = hdfs
agent1.sinks.hdfs-sink.hdfs.path     = hdfs://localhost:9000/tmp/system.log
agent1.sinks.hdfs-sink.hdfs.fileType = DataStream

# define components
agent1.channels = memory-channel
agent1.sources  = tail-source
agent1.sinks    = log-sink hdfs-sink
